<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title id="page-header">Case-Tracking</ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-title style="text-align: center;color:#13346e;font-weight: bold;" size="12">Find-Case</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card>
        <ion-card-content>
          <form [formGroup]="findCaseForm" (ngSubmit)="findCase()">
            <ion-list>
              <ion-item>
                  <ion-label>Case Type</ion-label>
                  <ion-select formControlName="caseTypeId"  id="rounded">
                    <ion-select-option value="1">Criminal Case</ion-select-option>
                    <ion-select-option value="2">Civil Case</ion-select-option>
                  </ion-select>
              </ion-item>
              <div  *ngIf="(findCaseForm.controls['caseTypeId'].touched || findCaseForm.controls['caseTypeId'].dirty )
              && !findCaseForm.controls['caseTypeId'].valid">
                <ion-text style="padding-left: 18px !important;"  color="danger" [hidden]="!findCaseForm.controls['caseTypeId'].errors.required">
                  Case Type is required
                </ion-text>
              </div>
              <ion-item>
                  <ion-label>Court Level</ion-label>
                  <ion-select 
                    id="rounded" 
                    formControlName="courtLevelId"  
                    (ionChange)="getCourt($event)"
                    >
                    <ion-select-option 
                    *ngFor="let court of courts"
                    value="{{court.id}}"
                    >{{court.court}}</ion-select-option>
                  </ion-select>
              </ion-item>
              <div  *ngIf="(findCaseForm.controls['courtLevelId'].touched || findCaseForm.controls['courtLevelId'].dirty )
                  && !findCaseForm.controls['courtLevelId'].valid">
                    <ion-text style="padding-left: 18px !important;" color="danger" [hidden]="!findCaseForm.controls['courtLevelId'].errors.required">
                      Case Level is required
                    </ion-text>
              </div>
              <ion-item 
                  *ngIf="!disableOfficerNameField && judicialOfficerNames.length !== 0"
                  >
                  <ion-label>Judicial Officer Name</ion-label>
                  <ion-select 
                  id="rounded"
                  formControlName="officerNameId" 
                  >
                    <ion-select-option *ngFor="let name of  judicialOfficerNames" value="{{name.id}}">{{name.officer}}</ion-select-option>
                  </ion-select>
              </ion-item>
              <br>
              <br>
              <br>
            </ion-list>
            <ion-label style="padding-left:10px;margin-bottom:30px !important;">Parties, Case number</ion-label>
            <ion-input formControlName="searchTerm"   style="padding-left:10px !important;" placeholder="Keyword Search" id="search"></ion-input>
            <div  *ngIf="(findCaseForm.controls['searchTerm'].touched || findCaseForm.controls['searchTerm'].dirty )
            && !findCaseForm.controls['searchTerm'].valid">
              <ion-text style="padding-left:18px;" color="danger" [hidden]="!findCaseForm.controls['searchTerm'].errors.required">
                Case Level is required
              </ion-text>
            </div>
            <br>
            <br>
            <ion-button   size="large" id="submitForm" expand="block" [disabled]="findCaseForm.invalid" type="submit" color="primary">
              FIND MY CASE
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
</ion-content>
