

<ion-content color="light">
  <div class="ion-text-center">
      <h3>Contact Us</h3>
    </div>

  <!-- New Wave Technologies Ltd
  128 Old Kira Road,
  2nd Floor, Kamure House,
  P.O.BOX 24159,
  Kampala, Uganda
  Tel: 0414 389220 -->

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
      <ion-item>
          <ion-label position='floating'>Email</ion-label>
          <ion-input formControlName="email"></ion-input>
      </ion-item>

      <div *ngIf="submitted && frm.email.errors" class="invalid-feedback">
          <ion-item *ngIf="frm.email.errors.required">
              <p style="color:red">Email is required!</p>
          </ion-item>
          <ion-item *ngIf="frm.email.errors.email">
              <p style="color:red">Email must be a valid email address!</p>
          </ion-item>
      </div>        

      <ion-item>
          <ion-label position='floating'>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <div *ngIf="submitted && frm.password.errors" class="invalid-feedback">
          <ion-item *ngIf="frm.password.errors.required">
              <p style="color:red">Password is required!</p>
          </ion-item>
          <ion-item *ngIf="frm.password.errors.minlength">
              <p style="color:red">Password must be at least 6 characters!</p>
          </ion-item>
        </div>

        <ion-item>
            <ion-label position='floating'>Message</ion-label>
            <!-- <ion-input type="textarea" formControlName="name"></ion-input> -->
            <ion-textarea formControlName="name"></ion-textarea>
        </ion-item>
        <div *ngIf="submitted && frm.name.errors" class="invalid-feedback">
            <ion-item *ngIf="frm.name.errors.required">
                <p style="color:red">Message is required!</p>
            </ion-item>
            <ion-item *ngIf="frm.name.errors.minlength">
                <p style="color:red">Message must be at least 6 characters!</p>
            </ion-item>
          </div>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" size="medium" type="submit" outline>Submit</ion-button>    
                </ion-col>
                <ion-col>
                    <ion-button expand="block" size="medium" type="reset" (click)="onReset()">Cancel</ion-button> 
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>
