

<ion-content>
  <div class="ion-text-center">
      <h3  style="color:#13346e;">Contact Us</h3>
    </div>

  <ion-card>
      <ion-card-content>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
                <ion-label
                class="content-alignment"
                >
                 Email
                </ion-label>
                  <ion-input 
                    class="content-alignment" 
                    placeholder="Enter email"
                    formControlName="email"
                    id="search" 
                  ></ion-input>
                  <div  *ngIf="(contactForm.controls['email'].touched || contactForm.controls['email'].dirty )
                    && !contactForm.controls['email'].valid">
                    <ion-text style="padding-left:10px;" color="danger" [hidden]="!contactForm.controls['email'].errors.required">
                      Email is required
                    </ion-text>
                  </div>
                  <div  *ngIf="(contactForm.controls['email'].touched || contactForm.controls['email'].dirty )
                    && !contactForm.controls['email'].valid">
                    <ion-text style="padding-left:10px;" color="danger" [hidden]="!contactForm.controls['email'].errors.email">
                        Email must be a valid email address! 
                    </ion-text>
                  </div>
                  <ion-label
                    class="content-alignment"
                    >
                    Message
                  </ion-label>
                  <ion-textarea class="content-alignment" placeholder="Enter Message" formControlName="message" id="search">
                  </ion-textarea>
                 <div  *ngIf="(contactForm.controls['message'].touched || contactForm.controls['message'].dirty )
                  && !contactForm.controls['message'].valid">
                    <ion-text class="content-alignment" color="danger" [hidden]="!contactForm.controls['message'].errors.required">
                      Message  is required
                    </ion-text>
                  </div>
                  <br>
                  <br>
                  <ion-button color="primary" size="large" [disabled]="contactForm.invalid" type="submit" expand="block">CONTACT</ion-button>
          </form>
      </ion-card-content>
  </ion-card>
</ion-content>
