<ion-header>
  <ion-toolbar color='primary'>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Useful Links</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <ion-list>
            <div *ngFor="let url of  linkUrls">
                <ion-list-header style="background-color: #13346e;color: white;">
                    {{ url.linkHeader }}
                </ion-list-header>
                <ion-item *ngFor="let link of url.links">
                  <a href="{{link.actualLink}}">{{ link.linkName }}</a>
                </ion-item>
            </div>
          </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
