
<ion-content color="dark">

  <div class="ion-text-center">
      <h3>About Us</h3>
    </div>
    The justice system in Uganda is faced with a severe case backlog, which has negative
    consequences for poor and vulnerable persons.  <br />The lengthy adjournments and costs
    make poor people abandon their cases hence leading to destitution and increasing
    their ill-being. 
   <br /> This Mobile Application provides case information to both the public and Judiciary to help reduce 
   incidents of corruption within the justice system.
  <p>This is achieved by:</p>
    <ul>
            <li>Providing information to the public on how to file cases; both civil and criminal.</li>
            <li>Case tracking and filtering.</li>
            <li>Live-streaming of court proceedings.</li>
            <li>Displaying Cause Listings</li>
            <li>Judiciary Inspectorate Complaint Management.</li>    
            <li>Viewing Hot Cases (Cases with the most hits)</li>
            <li>Help/FAQs/Contact Us Pages.</li>
            <li>Link to Laspnet IIMS</li>  
    </ul>
</ion-content>
