
<ion-content>

  <div class="ion-text-center">
      <h3 style="color:#13346e;">About Us</h3>
  </div>
  <ion-card>
    <ion-card-content>
      <div class="ion-text-justify" color="primary">
        <p style="font-size: 16px; color:#000000;">The justice system in Uganda is faced with a severe case backlog, which has negative
          consequences for poor and vulnerable persons.The lengthy adjournments and costs
          make poor people abandon their cases hence leading to destitution and increasing
          their ill-being. This Mobile Application provides case information to both the public and Judiciary to help reduce 
         incidents of corruption within the justice system.
        </p>
        <ion-list>
            <ion-item-divider style="background-color:#13346e;color: #ffff;">
                <ion-label>
                    <p  style="border-bottom: 2px solid #13346e;font-size:16px;color:white;">This is achieved by:</p>
                </ion-label>
            </ion-item-divider>
            <ion-item>
                Providing information to the public on how to file cases; both civil and criminal.
            </ion-item>
            <ion-item>
                Case tracking and filtering.
            </ion-item>
            <ion-item>
                Live-streaming of court proceedings.
            </ion-item>
            <ion-item>
                Displaying Cause Listings
            </ion-item>
            <ion-item>
                Judiciary Inspectorate Complaint Management.
            </ion-item>
            <ion-item>
                Viewing Hot Cases (Cases with the most hits)
            </ion-item>
            <ion-item>
                Help/FAQs/Contact Us Pages.
            </ion-item>
            <ion-item>
                Link to Laspnet IIMS
            </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
