<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defautHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Civil Case</ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-title style="text-align: center;color:#13346e;font-weight: bold;" size="12">{{procedure[0].step}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <ion-card-header >
      <p style="display: inline">
          <ion-icon name="book" style="color: #13346e;font-size: 30px;"></ion-icon>
          <span style="color: #13346e;">Step {{ procedure[0].id }}</span>
      </p>
    </ion-card-header>
    <ion-card-content>
      <p style="font-size: 16px;color: #000000;" class="ion-text-justify">
          {{ procedure[0].description}}
      </p>
    </ion-card-content>
</ion-card>
</ion-content>
