
ion-content {
    --background: #ffffff;
}

ion-app.force-statusbar-padding {
    --ion-safe-area-top: 25px;
}

.icon-container {
    text-align: center;
    margin-top: 40px;
}

.icons {
    font-size: 80px !important;
    color: #fff !important;
}

.icon-text {
    text-align: var(--ion-heading-align);
    font-weight: bold;
    display: block;
    color: #ffffff;
}

.container1, .container2{
    background: #13346e; 
    color: #fff; 
    padding: 10px; 
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: var(--ion-heading-align);
    text-transform: var(--ion-heading-text-transform);
  }

.statusbar {
    --background:var(--ion-color-primary);
}



.fancy-button {
    --background: var(--charcoal, #36454f);
    --border-radius: 24px;
    --background-hover: red;
    --color: black;
}

.lost-word {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase
}

.row {
    animation-duration: 3s;
    animation-delay: 1s;
}


