<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title class="heading">
      uganda court cases app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
                <ion-col size="6" routerLink="/case-filing" routerDirection="forward">
                    <div class="container1">
                        <div>
                            <ion-icon name="briefcase" class="icons"></ion-icon>
                        </div>
                        <div>
                            <span class="icon-text">Case Filing</span>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="6" routerLink="/find-case" routerDirection="forward">
                    <div class="container2">
                        <div>
                          <ion-icon name="search"  class="icons"></ion-icon>
                        </div>
                        <div>
                            <span class="icon-text">Case Tracking</span>            
                        </div>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <div class="container1" (click)="startStreaming()">
                        <div>
                            <ion-icon name="logo-youtube" color="danger" class="icons"></ion-icon>
                        </div>
                        <div>
                            <span class="icon-text" color="danger">YouTube Streaming</span>          
                        </div>
                    </div>
                </ion-col>
                <ion-col size="6" routerLink="/cause-listing" routerDirection="forward">
                    <div class="container2">
                        <div>
                            <ion-icon name="list-box" class="icons"></ion-icon>
                        </div>
                        <div>
                            <span class="icon-text">Case Listing</span>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="6" routerLink="/feedback" routerDirection="forward">
                    <div class="container1">
                        <div>
                            <ion-icon name="call" class="icons"></ion-icon>
                        </div>
                        <div>
                            <span class="icon-text">Report Corruption</span>         
                        </div>
                    </div>
                </ion-col>
                <ion-col size="6" routerLink="/news">
                    <div class="container2">
                        <div>
                            <ion-icon name="desktop" class="icons"></ion-icon>
                        </div>
                        <div>
                            <span class="icon-text">Judiciary News</span>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="6" routerLink="/links">
                    <div class="container1">
                        <div>
                            <ion-icon name="link" class="icons"></ion-icon>
                        </div>
                        <div>
                          <span class="icon-text">Userful Links</span>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="6"  routerLink="/help">
                    <div class="container2">
                        <div>
                            <ion-icon name="help-circle" class="icons"></ion-icon>
                        </div>
                        <div>
                           <span class="icon-text">Help</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
    </ion-grid>
</ion-content>
