<ion-header>
    <ion-toolbar color="primary">
        <ion-button slot="start" *ngIf="disableBackwardButton" (click)="backStep(sectionId)">
          <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
          Back
        </ion-button>
        <ion-button slot="end" *ngIf="disableFowardButton" (click)="nextStep(sectionId)">
          Next
          <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
        </ion-button>
    </ion-toolbar>
    <ion-toolbar>
        <ion-title style="text-align: center;color:#13346e;font-weight: bold;" size="12">Section 42 : Sub section {{ sectionId }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header >
        <p style="display: inline">
            <ion-icon name="book" style="color: #13346e;font-size: 30px;"></ion-icon>
            <span style="color: #13346e;">Step {{ sectionId }}</span>
        </p>
      </ion-card-header>
      <ion-card-content>
        <p style="font-size: 16px;color:#000000;"  class="ion-text-justify">
            {{ specificSection[0].section}}
        </p>
        <div *ngIf="specificSection[0].steps.length !== 0">
            <ion-list *ngFor="let step of specificSection[0].steps">
                <ion-item>
                  <p class="ion-text-justify" style="font-size: 16px;color:#000000;">
                      {{ step.step }}
                  </p>
                </ion-item>
            </ion-list>
        </div>
      </ion-card-content>
  </ion-card>
</ion-content>
